<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagam Page</title>
    <style>
        img{
            height: 200px;
            width: 200px;
            
        }
    </style>
</head>
<body>
    <h1>Your UserId is @<%= username %></h1>
    <button>Follow</button> 
    <button>Message</button>

    <!-- Here we pass print the number of follower and following-->
<h3>Follower : <%= data.followers%> &nbsp; &nbsp; &nbsp;   Following : <%= data.following %></h3>
<hr>

<!--Using the for loop we try to print the image and like and comment-->

<% for(post of data.posts) {%>
  <img src= "<%=post.image%>" alt="image">
  <p>Likes : <%=post.likes %> &nbsp; &nbsp; &nbsp; Comments : <%=post.comments%></p>
<% } %>


<%- include("includes/footer.ejs"); %>
</body>
</html>